<!-- Footer -->
<div class="text-center w-100 text-lg-start text-muted mt-4" style="overflow: hidden;">
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <div class=" text-light p-2" style="background-color: #313131">
    <div class="text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"
              ><img src="../../../assets/images/logof.jpg" style="width: 60%"
            /></i>
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Products</h6>
          <p>different category of books</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Social links</h6>
          <p class="m-2">
            <a href="http://facebook.com" target="_blank">
              <i class="fa-brands fa-facebook fa-xl mx-1 text-light"></i
            ></a>
            <a href="http://twitter.com" target="_blank"
              ><i class="fa-brands fa-twitter fa-xl mx-2 text-light"></i
            ></a>
            <a href="http://instgram.com" target="_blank"
              ><i class="fa-brands fa-instagram fa-xl mx-2 text-light"></i
            ></a>
            <a href="https://web.whatsapp.com/" target="_blank"
              ><i class="fa-brands fa-whatsapp fa-xl mx-2 text-light"></i
            ></a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </div>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class=" text-center pt-4 pb-4 text-light" style="background-color: #1a1a1a">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
      >Library.com</a
    >
  </div>
  <!-- Copyright -->
</div>
<!-- Footer -->
