<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800 fw-bold">Member</h1>
  <a href="/dashboard/member/add-member" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
  style="background-color:  #E57277 ; border: 1px solid #E57277; color: white;"><i
      class="fas fa-download fa-sm text-white-50"></i> Add new member</a>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- search -->

    <div class="form-group">
      <form class="form-inline" (ngSubmit)="addToSearchTerm(searchInput.value)">
        <div class="input-group mx-sm-3 mb-2">
          <input type="text" class="form-control" id="searchInput" placeholder="Search" #searchInput>
          <div class="input-group-append">
            <button type="submit" class="btn btn-prim"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">

      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Birthdate</th>
            <th>Full Adress</th>
            <!-- <th>Image</th> -->

            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of memberObj | paginate: { itemsPerPage: 4, currentPage: currentPage }">
            <td>{{ member._id }}</td>
            <td>{{ member.fullName }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.phoneNumber }}</td>
            <td>{{ member.birthdate | date }}</td>
            <td>
              {{ member.fullAddress?.building }}
              {{ member.fullAddress?.street }}, {{ member.fullAddress?.city }}
            </td>
            <!-- <td>{{ member.image }}</td> -->
            <td>
              <a href="/dashboard/member/edit-member/{{ member._id }}" class="btn btn-outline-warning m-1">Edit</a>
              <!-- <a href="#" class="btn btn-danger">Delete</a> -->
              <button class="btn btn-outline-danger m-1" (click)="deleteMember(member._id, $event)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container m-3">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>