<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Borrow</h1>
  <a   routerLinkActive="router-link-active"  href="/dashboard/bookOperation/add-borrow-bookOperation"   class="d-none d-sm-inline-block btn btn-sm   shadow-sm" style="background-color:  #E57277 ; color: white;"><i
      class="fas fa-download fa-sm text-dark-50"></i> Add Borrow Operation</a>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold " style="color:  #E57277 ; ">DataTables Operations</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Id</th>
            <th>BookId</th>
            <th>MemberId</th>
            <th>EmployeeId</th>
            <th>DeadlineDate</th>
            <th>ReturnDate</th>
            <th>Type</th>
            <th>Return</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let operation of operations">
            <td>{{ operation._id }}</td>
            <td>{{ operation.bookId.title }}</td>
            <td>{{ operation.memberId?.fullName }}</td>
            <td>{{ operation.employeeId.fname }} {{ operation.employeeId.lname }}</td>
            <td>{{ operation.deadlineDate | date }}</td>
            <td>{{ operation.returnDate | date }}</td>
            <td>{{ operation.type }} </td>
            <td>{{ operation.return }}</td>
            <td>
              <a href="#" class="btn btn-outline-success m-1">Edit</a>

              <button class="btn btn-outline-danger m-1">Delete</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="currentPage = $event" ></pagination-controls>
<!-- <button [disabled]="currentPage === 1" (click)="onPreviousClick()">Previous</button> -->
