<section class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
            <h1>ADD Borrow Operation</h1>
            <div class="row g-0">
                <form [formGroup]="operationForm" class="form">



                    <div class="form-group">
                        <label for="deadlineDate">Deadline Date:</label>
                        <input type="date" formControlName="deadlineDate" id="deadlineDate" class="form-control"
                            placeholder="Select deadline date" [class.is-invalid]="isInValidAndTouched('deadlineDate')"
                            [class.is-valid]="isValidControl('deadlineDate')" required
                            value="{{ bookOperation?.deadlineDate }}" />

                        <div class="invalid-feedback">
                            <span *ngIf="isControlHasError('deadlineDate', 'required')">Please select your deadline
                                date</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="memberId">Member Id:</label>
                        <input type="number" min=1 formControlName="memberId" id="memberId" class="form-control"
                            placeholder="Enter Member Id" [class.is-invalid]="isInValidAndTouched('memberId')"
                            [class.is-valid]="isValidControl('memberId')" value="{{ bookOperation?.memberId }}"
                            required />
                        <div class="invalid-feedback" *ngIf="isControlHasError('memberId', 'required')">
                            memberId is required.
                        </div>
                        <div class="invalid-feedback" *ngIf="isControlHasError('memberId', 'memberId')">
                            Invalid memberId
                        </div>
                    </div>



                    <div class="invalid" *ngIf="errMsg">{{ errMsg }}</div>

                    <button type="submit" [disabled]="operationForm.invalid" class="btn btn-prim">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>