<div class="row w-80 p-2 justify-content-center">
  <div class="row justify-content-center">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 mt-4">
      <form
        #searchForm="ngForm"
        method="get"
        class="d-fixed row justify-content-around align-center"
      >
        <label class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-4">
          <input type="text" ngModel name="title" class="form-control" />
        </div>
        <label class="col-sm-2 col-form-label">Author</label>
        <div class="col-sm-4">
          <input type="text" ngModel name="auther" class="form-control" />
        </div>
        <label class="col-sm-2 col-form-label">Publisher</label>
        <div class="col-sm-4">
          <input type="text" ngModel name="publisher" class="form-control" />
        </div>
        <label class="form-check-label col-sm-2"> Publishing Year </label>
        <select class="form-select col-sm-4" name="publishingDate" ngModel>
          <option value="2023" disabled selected>Select a year</option>
          <option
            *ngFor="let year of range(1990, 2023)"
            name="publishingDate"
            ngModel
            [value]="year"
          >
            {{ year }}
          </option>
        </select>
        <fieldset class="d-flex mb-3">
          <legend class="col-form-label col-sm-3 pt-0">Category</legend>
          <div class="form-check col-sm-2">
            <input
              class="form-check-input"
              type="radio"
              name="category"
              value="comedy"
              ngModel
            />
            <label class="form-check-label"> Comedy </label>
          </div>
          <div class="form-check col-sm-2">
            <input
              class="form-check-input"
              type="radio"
              name="category"
              value="drama"
              ngModel
            />
            <label class="form-check-label"> Drama </label>
          </div>
          <div class="form-check col-sm-2">
            <input
              class="form-check-input"
              type="radio"
              name="category"
              value="victim"
              ngModel
            />
            <label class="form-check-label"> Victim </label>
          </div>
          <div class="form-check col-sm-2">
            <input
              class="form-check-input"
              type="radio"
              name="category"
              value="fiction"
              ngModel
            />
            <label class="form-check-label"> Fiction </label>
          </div>
        </fieldset>

        <div class="form-check">
          <label class="form-check-label col-sm-2" for="gridCheck1">
            Available
          </label>
          <input
            class="form-check-input"
            value="2"
            ngModel
            name="avilable"
            type="checkbox"
            id="gridCheck1"
          />
        </div>
        <button
          type="submit"
          (click)="searchBooks()"
          class="btn btn-pink col-sm-3 m-auto"
        >
          Search
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify-content-around">
      <div class="row">
        <div
          class="card text-center col-xs-6 col-sm-4 col-md-3 col-lg-2 m-4"
          *ngFor="let book of books"
          style="width: 16rem"
        >
          <img
            [src]="book.image"
            class="card-img-top"
            alt="..."
            style="width: 100%; height: 150px"
          />
          <div class="card-body">
            <h5 class="card-title" *ngIf="book.title">{{ book.title }}</h5>
            <p class="card-text" *ngIf="book.title">{{ book.auther }}</p>
            <a [href]="'book/details/' + book._id" class="btn btn-pink w-90"
              >Details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
