<div class="container">
  <div class="row justify-content-around books">
    <div
      class="card text-center col-xs-6 col-sm-6 col-md-4 col-lg-3 m-4"
      *ngFor="let book of books"
      style="width: 16rem"
    >
      <img
        src="./../../../../assets/books/eos-lobortis.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title" *ngIf="book.title">{{ book.title }}</h5>
        <p class="card-text" *ngIf="book.title">{{ book.auther }}</p>
        <a [href]="'book/details/' + book._id" class="btn btn-pink">More Details</a>
      </div>
    </div>
  </div>
</div>
