
    <div class="container-fluid background">
      <div class="content">
        <h1>Discover Your Self!</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="user-info">
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 image">
            <img src="./../../../../assets/images/habiba.jpeg" />
            <div class="icon"><a href="/edit-profile" aria-label="Edit Profile"><i class="fa-solid fa-user-pen"></i></a></div>
          </div>
          <div class="user-details col-xs-6 col-sm-6 col-md-8 col-lg-9 pt-4 pb-4">
            <nav class="navbar navbar-expand-lg bg-body-tertiary text-center " >
              <div class="container-fluid d-flex justify-content-evenly">
                <div class="navbar-brand" href="#">
                  <h4>{{user.fullName}}</h4>
                  <p><i class="fa-solid fa-location-dot"></i> {{address}}</p>
                  <p><i class="fa-solid fa-at"></i> {{user.email}}</p>
                  <p><i class="fa-solid fa-phone"></i> {{user.phoneNumber}}</p>
                  <p><i class="fa-solid fa-cake-candles"></i>{{user.birthdate | date}}</p>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <h2>Borrowed Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">BookTitle</th>
            <th scope="col">category</th>
            <th scope="col">Auther</th>
            <th scope="col">Publisher</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let borrowed of borrowedBooks" >
            <td>{{borrowed.title}}</td>
            <td>{{borrowed.category}}</td>
            <td>{{borrowed.auther}}</td>
            <td>{{borrowed.publisher}}</td>
          </tr>
        </tbody>
      </table>
      <br />
      <h2>Reading Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">BookTitle</th>
            <th scope="col">category</th>
            <th scope="col">Auther</th>
            <th scope="col">Publisher</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reading of readingBooks" >
            <td>{{reading.title}}</td>
            <td>{{reading.category}}</td>
            <td>{{reading.auther}}</td>
            <td>{{reading.publisher}}</td>
          </tr>
        </tbody>
      </table>
    </div>