<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Employee</h1>
  <a
    href="/dashboard/employee/add-employee"
    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
    ><i class="fas fa-download fa-sm text-white-50"></i> Add new employee
  </a>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Salary</th>
            <th>Birthdate</th>
            <th>Hiredate</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>ahmed</td>
            <td>ramadan</td>
            <td>ahmedromio233@gmail.com</td>
            <td>fa65faf</td>
            <td>50000</td>
            <td>2011/04/25</td>
            <td>2011/04/25</td>
            <td>img</td>
            <td>
              <a href="#" class="btn btn-info">Edit</a>
              <a href="#" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>ahmed</td>
            <td>ramadan</td>
            <td>ahmedromio233@gmail.com</td>
            <td>fa65faf</td>
            <td>50000</td>
            <td>2011/04/25</td>
            <td>2011/04/25</td>
            <td>img</td>
            <td>
              <a href="#" class="btn btn-info">Edit</a>
              <a href="#" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
