<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Employee</h1>
  <a
    href="/dashboard/employee/add-employee"
    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
    ><i class="fas fa-download fa-sm text-white-50"></i> Add new employee
  </a>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Birthdate</th>
            <th>Hiredate</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee._id }}</td>
            <td>{{ employee.fname }}</td>
            <td>{{ employee.lname }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.birthdate }}</td>
            <td>{{ employee.hiredate }}</td>
            <td>
              <img
                *ngIf="employee.image"
                [src]="employee.image"
                alt="Emp Image"
                width="150"
                height="150"
              />
            </td>
            <td>
              <a
                href="/dashboard/employee/edit-employee/{{ employee._id }}"
                class="btn btn-info"
                >Edit</a
              >
              <button
                class="btn btn-danger"
                (click)="deleteEmployee(employee._id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
