/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* @import "../node_modules/bootstrap/dist/css/bootstrap.css"; */
@import "./assets/css/sb-admin-2.css";

* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.btn-pink {
  background-color: #e57277 !important;
  color: aliceblue !important;
  font-size: 16px !important;
}
.btn-pink:hover {
  background-color: rgb(253, 253, 253) !important;
  color: #f2555d !important;
}

.pink-background {
  background-color: #e57277;
}
.pink-text {
  color: #df6066;
}

.gray-background {
  background-color: #444444;
}

.gray-text {
  color: #444444;
}

.link_decoration_none {
  text-decoration: none;
  color: black;
}

.link_decoration_none:hover {
  text-decoration: none;
  color: #e57277;
}

.list_type_none {
  list-style-type: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
}
.btn-pink:focus{
  box-shadow: 0 0 8px 0.1rem #e57277;
}
