<div
  class="bg-image d-flex justify-content-center align-items-center m-5 "
  style="
    background-image: url('../../assets/images/slider3.jpg');
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;"
>
  <h3 class="text-white">collection 2023</h3>
</div>
<div class="continar">
    <div class="bg-image d-flex justify-content-center align-items-center m-5 "
    style="border-bottom: 2px solid rgb(199, 196, 196);">
        <h3>ABOUT US.</h3>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-md-6">
            <img class="" src="../../assets/images/about2.jpg" width="500px">
        </div>
        <div class="col-md-6">
            <h1>OUR MISSION</h1>
            <p style="color: gray;
            line-height: 1.8;"
            >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incid. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incid.</p>
        </div>
    </div>
</div>
<div class="row text-center m-5">
    <h1>MEET OUR TEAM</h1>
    <p
    style="color: gray;"
    >Contrary to popular belief, Lorem Ipsum is not simply random text.<br> It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
    </p>
</div>
<div class="container" id="team">
    <div class="row ">
      <div class="col-md-4">
        <img src="../../assets/images/nabila.jpeg" alt="Image 1" class="img-fluid">
        <p class="title_font">Nabila</p>
        <p>CEO &amp; Co-Founder</p>
      </div>
      <div class="col-md-4">
        <img src="../../assets/images/habiba.jpeg" alt="Image 2" class="img-fluid">
        <p class="title_font">Habiba</p>
    <p>Customer Care</p>
      </div>
      <div class="col-md-4">
        <img src="../../assets/images/somaya.jpeg" alt="Image 3" class="img-fluid">
        <p class="title_font">Somaya</p>
    <p>Q&A</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../../assets/images/ramadan.jpeg" alt="Image 4" class="img-fluid">
        <p class="title_font">Ramadan</p>
    <p>Designer</p>
      </div>
      <div class="col-md-4">
        <img src="../../assets/images/mariam.jpeg" alt="Image 5" class="img-fluid">
        <p class="title_font">Yamine</p>
        <p>Devolper</p>
      </div>
      <div class="col-md-4">
        <img src="../../assets/images/yasmine.jpeg" alt="Image 6" class="img-fluid">
        <p class="title_font">Mariam</p>
        <p>Devolper</p>
      </div>
    </div>
  </div>
  <div class="container m-5">
    <div class="row text-center">
        <div class="col-md-6">
            <h1>OUR SERVICE</h1>
            <p style="color: gray;
            line-height: 1.8;"
            >Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.

            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incid.
             Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incid.</p>
        </div>
        <div class="col-md-6">
            <img class="" src="../../assets/images/about2.jpg" width="500px">
        </div>
    </div>
</div>