#team img{
    width: 250px !important;
    height: 250px !important;
    border-radius: 50%;
}
#team p{
    padding-top: 10px;
    padding-left: 80px;
    font-family: fantasy;
}
.title_font{
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}