<div class="container-fluid mt-4">
    <div class="container-fluid">
        <div class="row">
    <div id="carouselExampleControls" class="col carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../assets/images/slider1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5> Each Day A Book</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis beatae </p>
                <a class="btn pink-background">Show Books!</a>
              </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/images/slider2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5> Each Day A Book</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis beatae </p>
                <a class="btn pink-background">Show Books!</a>
              </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/images/slider3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5> Each Day A Book</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis beatae </p>
                <a class="btn pink-background">Show Books!</a>
              </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
  </div>
  <div class="row mt-5">
   <div class="col card-header p-3 h4">FEATURED PRODUCTS</div>
  </div>
  <div class="row mt-5">
    
      <div class="col-md-3  col-sm-12 border p-2" *ngFor="let book of books">
        <div class="bookContainer w-100 h-50">
          <a class="bookLink"  routerLink="/book/details/1">
          <img src="../assets/images/slider3.jpg" class="bookImg w-100 h-100" alt="Snow">
          <button class="btn imgbtn">Details</button>
        </a>
        </div>
        <div class="h5" *ngIf="book.title">{{book.title}}</div>
      <div >
        
        <li class="list_type_none pink-text"><i class="fa fa-calendar"></i> <span class=" ms-2" *ngIf="book.createdAt">{{book.createdAt |date}} </span> </li>
      </div>
      <p *ngIf="book.auther">Auther: {{book.auther}}</p>
    <a class="link_decoration_none "*ngIf="book._id"  routerLink="/book/details/{{book._id}}">Show More  &raquo;</a>

    </div>
   


  </div>

  <div class="row mt-5 divider text-center d-flex justify-content-center">
    <div class="mt-5  rounded-circle pink-background p-2 quot-circle">
      <i class=" fa fa-quote-left fs-2 text-white"></i>
    </div>
    <div class="text-white">“The more that you read, the more things you will know. The more that you learn, the more places you’ll go”</div>
    <div class="text-white">“Books are a uniquely portable magic.”</div>

  </div>

  <div class="row mt-5 ">
    <div class="col card-header p-3 h4">NEW ARRIVALS</div>
   </div>

   <div class="row mt-5"  *ngIf="latestBooks.length > 0">
    
    <div class="col-md-3 col-sm-12 border p-2" *ngFor="let book of latestBooks">
      <div class="bookContainer w-100 h-50">
        <a class="bookLink"  routerLink="/book/details/1">
        <img src="../assets/images/slider3.jpg" class="bookImg w-100 h-100" alt="Snow">
        <button class="btn imgbtn">Details</button>
      </a>
      </div>
      <div class="h5" *ngIf="book.title">{{book.title}}</div>
    <div >
      
      <li class="list_type_none pink-text"><i class="fa fa-calendar"></i> <span class=" ms-2" *ngIf="book.createdAt">{{book.createdAt |date}} </span> </li>
    </div>
    <p *ngIf="book.auther">Auther: {{book.auther}}</p>
    <a class="link_decoration_none "*ngIf="book._id"  routerLink="/book/details/{{book._id}}">Show More  &raquo;</a>

  </div>
   </div>

   
    

   </div>
</div>